* {
	box-sizing: border-box;
}

html, main {
	height: 100%;
}

.overlay {
	pointer-events: none;
}

body {
	color: white;
	height: 100%;
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-rows: auto 5rem;
}

header {
	grid-row: 2 / -1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #0072ce;
	background: -webkit-linear-gradient(
		to right,
		#005eb8,
		#0072ce
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#005eb8,
		#0072ce
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	box-shadow: 0px 2px 10px 0px rgba(0, 114, 206, 0.44);
	padding: 0.8rem;
	transition: all 0.5s ease;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto',
		'Helvetica', Arial, sans-serif;
	font-weight: 800;
	letter-spacing: 0;
}

h1 {
	vertical-align: middle;
	margin: 0;
}

input:focus {
	outline-color: #0072ce;
}

.mapboxgl-ctrl-top-right {
	padding: 5rem 0;
}

/* Landing page styles */
.landing {
	background: #0072ce;
	background: -webkit-linear-gradient(
		to right,
		#005eb8,
		#0072ce
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#005eb8,
		#0072ce
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	grid-row: 1 / 2;
	transition: all 0.6s ease;
	z-index: 2;
}

.landing--container {
	background: #f5f6fa;
	border-radius: 0.8rem;
	width: 50%;
	height: calc(80% - 5vw);
	min-height: 50%;
	z-index: 3;
	box-shadow: 0 3px 1px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	overflow: hidden;
}

.landing--container:hover {
	transform: scale(1.05);
}

.landing__title {
	display: inline-block;
	color: #0072ce;
	padding: 1rem 1.5rem;
	font-size: 3.2rem;
	margin-bottom: 0.5rem;
}

.landing__form {
	font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto',
		'Helvetica', Arial, sans-serif;
}

.landing__form--container {
	transition: transform 0.6s ease-out;
}

.landing__form--container.located {
	transform: rotateX(90deg);
}

.landing__form input, #symptoms-header {
	width: 80%;
	background: #fff;
	color: #0072ce;
	font: inherit;
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
	border: 0;
	outline: 0;
	padding: 22px 18px;
	margin: 1rem 2rem 0.4rem;
	border-radius: 6px;
}

.landing__form input:focus, #symptoms-header:focus {
	border: 3px solid rgba(0, 114, 206, 0.65);
}

.landing__form button {
	display: block;
	background: #0072ce;
	color: white;
	font: inherit;
	border: none;
	border-radius: 4px;
	padding: 10px 25px;
	transition: background 200ms ease-in, transform 0.4s ease-out 80ms;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: 400;
	margin: 1rem auto 0;
}

.landing__form button:hover {
	background: #005eb8;
}

.landing__form__info {
	display: flex;
	padding: 0.2rem 1.5rem 0.8rem;
	color: #bdc3c7;
	align-items: center;
}

.landing__form__info svg {
	fill: #bdc3c7;
}

.landing__form__info p {
	margin: 0;
	margin-left: 0.4rem;
	font-weight: 500;
}

/* Header styles */
.logo:hover {
	cursor: pointer;
}

.logo:hover .logo__img {
	animation: spin 3s infinite linear;
}

@keyframes spin {
	from  {
		transform: rotate(0deg);
	} to {
		transform: rotate(360deg);
	}
}

.logo__img {
	fill: white;
	vertical-align: middle;
}

.logo__title {
	display: inline-block;
}

.attribution {
	display: flex;
	align-items: center;
}

.attribution__text {
	color: #f5f6fa;
	font-weight: 200;
	text-transform: uppercase;
	display: inline-block;
	margin: 0;
	margin-right: 0.2rem;
}

.attribution svg {
	margin: 0 0.35rem;
	width: 3.5rem;
	height: 3.5rem;
}

.attribution__mapbox {
	width: 6rem !important;
	fill: white;
}

.attribution__link {
	transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.attribution__link:hover {
	transform: scale(1.2);
}

#symptoms-header {
	font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto',
		'Helvetica', Arial, sans-serif;
	width: 45%;
	margin: 0;
	padding: 1rem;
	display: none;
	z-index: 1;
}

.symptom__list {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 3rem;
	right: 51%;
	transform: translate(50%);
	width: 40%;
	list-style: none;
	padding: 0;
	margin: 0;
	background: #fff;
	color: #0072ce;
	font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto',
		'Helvetica', Arial, sans-serif;
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
	border: 0;
	border-radius: 6px;
	max-height: 26rem;
	overflow: scroll;
	display: none;
}

.symptom__list li {
	padding: 2rem;
	transition: padding 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.symptom__list li:hover {
	cursor: pointer;
	background: #f5f6fa;
	border-radius: 6px;
	font-weight: 700;
	padding: 2.5rem;
}

/* Map styles */
#map {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1
}

/* General pop-up styles */
.pop-up {
	position: absolute;
	font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto',
		'Helvetica', Arial, sans-serif;
	background: #f5f6fa;
	color: #0072ce;
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	overflow: scroll;
	height: calc(80% - 5vw);
	width: 50%;
	z-index: 15;
	top: 50%;
	left: 50%;
	transition: all 0.4s ease-in-out;
}

.pop-up__title {
	display: inline-block;
	color: #0072ce;
	padding: 2rem 2rem 0.8rem;
	font-size: 3.2rem;
	margin: 0;
}

.pop-up__close {
	fill: #9ea5a8;
	height: 25px;
	width: 25px;
	position: absolute;
	right: 0;
	margin: 1rem;
	transition: all 0.4s ease;
}

.pop-up__close:hover {
	fill: #0072ce;
	cursor: pointer;
}

.pop-up__info {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0.2rem 2rem 0.8rem;
	color: #9ea5a8;
}

.pop-up__info p {
	margin: 0;
	margin-left: 0.4rem;
	font-weight: 500;
}

/* Suggestions styles */
.suggestions {
	transform: translate(-50%, -50%) scale(0);
}

.suggestions--header {
	position: sticky;
	background: #f5f6fa;
	top: 0;
	left: 0;
}

.suggestions__info svg {
	fill: #bdc3c7;
}

.suggestions__list {
	display: flex;
	flex-direction: column;
	list-style: none;
	margin: 0;
	padding: 0;
	color: #0072ce;
	font: inherit;
}

.suggestions__list__item {
	padding: 2rem;
	transition: padding 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.suggestions__list__item:hover {
	cursor: pointer;
	background: #edeff5;
	border-radius: 6px;
	font-weight: 700;
	padding: 2.5rem;
}

/* Error styles */
.error {
	transform: translate(-50%, -50%) scale(0);
	height: calc(65% - 15vw);
}

.error__title {
	color: #e84118;
	margin-bottom: 1.2rem;
}

.error__info p {
	font-size: 1.5rem;
	display: inline-block;
	margin-right: 1rem;
}

.error__info a {
	color: #0072ce;
	text-decoration: none;
	transition: all 0.6s ease;
}

.error__info a:hover {
	color: #005eb8;
}

.error__info svg {
	height: 40px;
	width: 40px;
	fill: #bdc3c7;
	flex-shrink: 0;
	align-self: flex-start;
	margin-right: 0.3rem;
}

/* Conditions styles */
.condition {
	transform: translate(-50%, -50%) scale(0);
}

.condition__title {
	padding: 2rem;
}

.condition ul {
	display: flex;
	flex-direction: column;
	margin: 0;
	font: inherit;
	padding: 1rem;
}

.condition ul li {
	color: #0072ce;
	padding: 0.3rem 0;
}

.condition__summary {
	display: block;
}

.condition__summary a {
	color: #9ea5a8;
	cursor: none;
	pointer-events: none;
	text-decoration: none;
}

.condition__summary p {
	margin: 0;
}

.condition__info {
	display: block;
}

.condition__info h3 {
	margin: 0;
}


.condition__info p {
	margin: 0;
	padding: 0;
}

.condition__info__item a {
	color: #0072ce;
	cursor: none;
	pointer-events: none;
	text-decoration: none;
}

.condition__links {
	padding: 1rem 2rem 2rem;
}

.condition__links p {
	margin: 0;
	color: #9ea5a8;
	font-weight: 500;
	display: inline-block;
}

.condition__links a {
	margin: 0;
	padding: 0 0.5rem;
	color: #0072ce;
	font-weight: 700;
	text-decoration: none;
}